<!DOCTYPE html> <!-- Página index durrr?!?!?!-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT Walkthrough</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="script/main.js" async defer></script>
</head>
<body>
    <div class="container">
        <a href="views/login.html" class="safe-link">
            <img src="views/safe/closed.png" alt="safe" class="safe-image">
        </a>
    </div>
</body>
</html>