<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/safe.css" />
    <script src="../script/safe.js" defer></script>
</head>
<body>
    <div id="img-container" class="container">
        <img id="safeImg" src="/safe/closed.png" alt="Cofre Fechado" />
    </div>
    
    <!-- Modal for video -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <div id="video-safe">
                <!-- Video will be dynamically inserted here -->
            </div>
        </div>
    </div>
    
</body>
</html>